
body {
	max-width: 1080px;
	padding: auto;
	margin: auto;
	}

header {
	width: 100%;
	max-height: 559px;
	}
	
	/*navi breaking point at 783px*/
#nav-place-holder {
	height: 100px;
	width: 100%;
	margin-top: -6.5em;
	}
	

	
ul {
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	font-size: 1.2em;
	color: white;
	line-height: 1.4;
	font-weight: 600;
	opacity: 1;
	text-align-last: center;
	}
	
li {
	display: inline;
	padding: 20px;
	text-decoration: none;
	outline: 2.5px solid white;
	color: white;
	background: rgba(0, 0, 0, .4);
	}

li:hover {
	outline: 1px solid white;
	background: rgba(0, 0, 0, .15);
	}

a {
	text-decoration: none;
	margin-right: 40px;
	letter-spacing: -1px;
	}

img {
	width: 100%;
	height: auto;
	}

h3 {
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	font-size: 1.9em;
	line-height: 1.4;
	font-weight: 400;
	color: #341139;
	text-align: center;
	letter-spacing: -2px;
	}
	
h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	line-height: .9;
	font-weight: 300;
	text-align:center;
	}

.kortti-otsikko {
	text-transformation: uppercase;
	}
		
.lainaus-latina {
	padding-top: 20px;
	}

.lainaus-suomi {
	margin-top: -30px;
	padding-bottom: 40px;
	}
	
@media only screen and (min-width:1080px){
.kortti {
	width: 50%;
	height: auto;
	float: left;
/*	padding-left: 0;*/
	/*margin-top: 50px; res 820*/
	position: relative;
	}
}

@media only screen and (min-width:820px) and (max-width: 1079x) {
.kortti {
	width: 40%;
	height: auto;
	float: left;
/*	padding-left: 0;*/
	/*margin-top: 50px; res 820*/
	position: relative;
	padding-left: 10%;
	}
}

@media only screen and (max-width:819px) {
.kortti {
	width: 80%;
	padding-left: 10%;
	margin: auto;
	height: auto;
	float: left;
/*	padding-left: 0;*/
	/*margin-top: 50px; res 820*/
	position: relative;
	}
}

h2 {
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	/*text-transform: uppercase;*/
	font-size: 1.3em;
	font-weight: 500;
	letter-spacing: -1px;
	color: #007F3A;
	}
	
.otsikkona {
	font-size: 1.7em;
	text-align: left;
	}	
	
.faq {
	font-sixe: 0.9em;
	color: #465C29;
	font-weight: 500;
	text-transformation: none;
	}
	
p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	}
